<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.minsk.pendulum.**.service"/>
    <context:component-scan base-package="com.minsk.pendulum.**.converter"/>
    <context:component-scan base-package="com.minsk.pendulum.**.security"/>
    <bean class="com.minsk.pendulum.DTO.DtoUtils" id="dtoUtils"/>
    <bean class="org.modelmapper.ModelMapper" id="modelMapper"/>
    <bean id ="passwordEncoder" class = "org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method = "getInstance" />

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2000000" />
    </bean>

</beans>